@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Edit Blog</h1>

@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
    @Html.HiddenFor(x => x.BlogID)
    @Html.HiddenFor(x => x.BlogStatus)
    @Html.HiddenFor(x => x.WriterID)
    @Html.HiddenFor(x => x.BLogCreateDate)
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Düzenle</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Başlık</label>
                        @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Görsel</label>
                        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(x => x.BlogImage, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Thumb Görsel</label>
                        @Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Kategori</label>
                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">İçerik</label>
                        @Html.TextAreaFor(x => x.BlogContent, new { @class = "form-control", @rows = "8" })
                        @*@Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-danger" })*@
                    </div>
                    <button type="submit" class="btn btn-gradient-success mr-2">Kaydet</button>
                    <button class="btn btn-light">Temizle</button>
                </form>
            </div>
        </div>
    </div>
}
